{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pumagua App</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <link href="{% static 'css/botonBuscar.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top" style="bgcolor:E3F2FD;">
        <!-- Navigation-->
        <nav class="navbar  navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="/"><img src="{% static 'assets/logo3.png' %}" alt="logo" width="80%" height="82%"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"> <h3 style = "color: white;"> Menú </h3> </li>
                            <p>
                                <li class="nav-item"> Munú
                                </li> 
                        </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header style="background-color: #B7E1FF;">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Busca cualquier bebedero en CU</h1>
                <br>
                <form class="d-flex" role="search">
                        <input class="form-control me-1" name="q" type="search" placeholder="Buscar bebedero" aria-label="Buscar" >
                        <button  class="button-59" type="submit">Buscar </button>
                </form>
            </div>
        </header>

        {{ map|safe }}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js'%}"></script>
    </body>
</html>
